<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<config>
		<add key="allowInsecureConnections" value="true" />
	</config>
	<packageSources>
		<clear />
		<add key="ProxyFeed" value="http://192.168.1.210:8081/repository/nuget.org-proxy/index.json" protocolVersion="3" allowInsecureConnections="true" />
	</packageSources>
</configuration>
